@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom properties */


@media (prefers-color-scheme: dark) {
    :root {
        --headingFont: 'Fira Sans', sans-serif;
        --headingWeight: 600;
        --textFont: #fff;
        --pageBackground: #000000;
        --invertedElements: #fff;
        --invertedTextFonts: #000000;
        --afterColor: #ffffff75;
        --logoColor: contrast(0) brightness(2);
        --hoverColor: #2ee991;;
    }
}
    @media (prefers-color-scheme: light) {
    :root {
    --headingFont: 'Fira Sans', sans-serif;
    --headingWeight: 600;
    --textFont: #000000;
    --pageBackground: #fff;
    --invertedElements: #000000;
    --invertedTextFonts: #fff;
    --afterColor: #000000;
    --logoColor: contrast(0) brightness(0);  
    --hoverColor: #2ee991;;
    
    }
}

html {background: var(--pageBackground); font-family: 'Catamaran', sans-serif; font-size: 12px; }
*{ box-sizing: border-box;margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 { color: var(--hoverColor); font-family: var(--headingFont); font-weight: var(--headingWeight);  text-transform: uppercase; width: max-content;}
h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
    border: solid 2px var(--invertedElements); padding:0 0.5em; 
 }

ul {list-style: none;}

nav a, main a, footer a, main > section button { text-transform: uppercase; letter-spacing: 2px; font-weight: 300; text-decoration: none; color: var(--textFont);transition: .5s ease;}
nav a:hover, main li:last-child a:hover, footer li a:hover, main > section button:hover { color: var(--hoverColor);letter-spacing: 3px;}
nav li a:focus, footer li a:focus {border: solid 1px var(--invertedElements);}
p { font-size: 16px;}


/* Nav */
body > header {display: flex;justify-content: space-between;z-index: 2;position: relative; right: 0;left: 0;transition: .3s ease all;padding: 10px 5%; align-items: center;position: absolute;}
body > header section {max-width: 600px;}
body > header section h1 { z-index: 1;margin: 4em 0 .7em 0;text-decoration: underline;text-decoration-thickness: auto;text-decoration-thickness: auto;text-decoration-thickness: 0.1em;text-underline-offset: 0.2em;}
body > header button {background: transparent;border: none;max-height: 37px;font-size: 30px;margin-left: 2vw;}
body > header > button svg {width: 25px;height: 30px;stroke: #e6e6e6;stroke-width: 3;stroke-miterlimit: 5;transition: .3s ease;transform: rotate(90deg);height: 45px;}
body > header nav button svg {width: 26px;height: 26px; fill:#fff;stroke:#fff;stroke-width:5;stroke-miterlimit:10;transition: .3s ease;}
body > header button:hover {  text-decoration: none;color: #272727;}
body > header img {width: 100px;height: 20px;filter: var(--logoColor);}
nav {z-index:1;overflow: hidden;padding: 20px 5%; display: none;}
nav img {cursor: pointer;position: absolute;right: 5%;top: 3.1%;}

nav ul { width: 100%; display: flex;flex-direction: column;justify-content: center;}
nav li {padding: 0.9em 4em;font-weight: 600;width: 100%;}  
nav li a {font-size: 1.4em;padding: 10px;width: 100%;letter-spacing: 0;font-weight: 600;}


/* Main */
/* Main Header */

main > header {display: flex;justify-content: center;position: relative;max-height:90vh;height: calc(40vw + 20vw);min-height: 400px;overflow: hidden;} 
main > header h1 {
    z-index: 1;
    margin: 4em 0 .7em 0;
text-decoration: underline;
text-decoration-thickness: auto;
text-decoration-thickness: 0.1em;
text-underline-offset: 0.2em;
   }
   main > header img {
    position: absolute;
    filter: blur(.05em);
    opacity: 0.3;
    /* width: 100vw; */
    height: auto;
    min-height: 180px;
    min-width: 350px;
    top: 0;
   }
   main > header::after {content:"";background-image: url('../assets/images/down-icon.svg');transition: 1s ease-out;position: absolute;bottom: 0;color: var(--textFont);animation: headerArrow 2.5s infinite;width: 20px;height: 13px;background-repeat: no-repeat;filter: var(--logoColor);margin-bottom: 5vw;}
   main > header section {}
   main > header section p {color: var(--textFont);}

/* sections */
main section {display: flex; flex-direction: column; padding: 0 3vw;margin: 7em 0;}
main section h2 {margin: auto; font-size:2.5em;text-decoration: underline; text-decoration-thickness: 0.1em;text-underline-offset: 0.2em;}

main section ul {margin:2.5em 0;display: flex;flex-direction: row;overflow-x: auto; scrollbar-width:thin; scrollbar-color: var(--hoverColor) var(--invertedElements);}
main section ul::-webkit-scrollbar-thumb {background-color: var(--hoverColor);}
main section ul::-webkit-scrollbar-track {background-color: var(--invertedElements);}
main section svg {filter: invert(1);margin-left: 10px;}
main section:nth-of-type(1) ul li a:focus + main section:nth-of-type(1) ul li a figure, 
    main section:nth-of-type(2) ul li a:focus + main  section:nth-of-type(2) ul li a figure {
        border: 1px solid white;
        padding: 5px;
}

main section:nth-of-type(1) ul::-webkit-scrollbar, main section:nth-of-type(4) ul::-webkit-scrollbar {
height: 10px;
}

/* Section 1 */

main section:nth-of-type(1) {overflow-x: hidden;}
main section:nth-of-type(1) ul {display: flex;flex-flow: row nowrap;}
main section:nth-of-type(1) li {margin: 0 1vw;height: auto;}
main section:nth-of-type(1) li:first-child{ margin-left: 0;}
main section:nth-of-type(1) li:last-child{ padding: 4em;margin: auto;text-align: center;}
main section:nth-of-type(1) a { }
main section:nth-of-type(1) a:focus > figure {
    background: var(--invertedElements);
    color: var(--invertedTextFonts);
}
main section:nth-of-type(1) figure {overflow: hidden;height: 100%;}
main section:nth-of-type(1) figcaption {text-align: center;}
main section:nth-of-type(1) img {transition:2s ease-in-out; overflow: hidden;min-height: 262px;min-width: 175px;width: calc(20vw + 5vw);height: 90%;}
main section:nth-of-type(1) img:hover {padding: 0.2em;}

/* Section 2 */

main section:nth-of-type(2) ul {flex-direction: column;justify-content: center;}
main section:nth-of-type(2) li {padding: 0px 0;min-width: 300px;}
main section:nth-of-type(2) li::after {content:"";display:block;background-color: var(--afterColor); height: 1px; width: 100%;margin: 2.1em 0;}
main section:nth-of-type(2) li:last-child {display: flex; justify-content: center;margin-top: 2em;}
main section:nth-of-type(2) li:last-child::after { display: none;}
main section:nth-of-type(2) li div {display: flex;flex-flow: row nowrap;margin: 0 0 .5em 0;}
main section:nth-of-type(2) p {margin: 0 1em;transition: .5s ease;}
main section:nth-of-type(2) p:first-child {margin-left:0;width: 75px;background: var(--invertedElements);color: var(--invertedTextFonts);height: 18px;text-align: center;line-height: 20px;text-transform: uppercase;font-weight: 600;letter-spacing: 0;}
main section:nth-of-type(2) p:nth-of-type(2) {margin-left: 10px;line-height: 19px;font-weight: 300;}
main section:nth-of-type(2) p:last-child {text-transform: none;margin: 4px 0;font-size: 1.2em;letter-spacing: 1px;font-weight: 300;}
main section:nth-of-type(2) a {text-decoration: none;color: var(--textFont);display: flex;flex-flow: column nowrap;}
main section:nth-of-type(2) a:hover > p {color: var(--hoverColor);}
main section:nth-of-type(2) a:hover > div p:first-child { background-color: var(--hoverColor);}

main section:nth-of-type(2) li:last-child a {flex-flow: row nowrap;} 

/* Section 3 */

main section:nth-of-type(3) {align-items: center;}
main section:nth-of-type(3) ul{display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap;max-width: 1200px;overflow-x: unset;}

main section:nth-of-type(3) li {max-width: 100%;position: relative;padding: 1em;width: calc(1000px / 4);}
main section:nth-of-type(3) li::before {top: 0;}
main section:nth-of-type(3) li::after {bottom: 0;}
main section:nth-of-type(3) li:first-child::before, 
    main section:nth-of-type(3) li:nth-of-type(3)::before, 
          main section:nth-of-type(3) li:nth-of-type(5)::after, 
             main section:nth-of-type(3) li:nth-of-type(7)::after {
                content: "+";
                position: absolute;
                right: -10px;
                font-size: 35px;
                z-index: 1;
                color: var(--invertedElements);
                line-height: 0;
            }



main section:nth-of-type(3) p::before {content: "Title:";color: var(--textFont);width: 100%;display: block;position: absolute;transform: translateY(-1.3em);background: transparent;font-size:1.1em;font-weight: 300;}
main section:nth-of-type(3) p {transition:.7s ease; max-width: 175px;background-color: var(--pageBackground);padding: 7px 7px;width: max-content;font-size: 1em; font-weight:500;letter-spacing:1px;position: absolute; opacity: 0.9;}
main section:nth-of-type(3) li:hover + main section:nth-of-type(3) p {  max-width: 100%;   padding: 7px 7px; letter-spacing: 2px;}
main section:nth-of-type(3) img {max-width: 100%;background: white;margin-left: auto;display: block;overflow: hidden;min-height: 262px;min-width: 175px;width: 20vw;}
main section:nth-of-type(3) a {color: var(--textFont);width: 100%;display: block;position: relative;}
main section:nth-of-type(3) a::after {position: absolute;left:0;bottom: -4px;content: "";height: 5px;width: 14%;border: solid 1px var(--invertedElements);}
main section:nth-of-type(3) a:hover > p, main section:nth-of-type(3) a:focus p { transition:2s ease;max-width: 100%; width: 100%; padding:1em; color: var(--hoverColor);}

main section:nth-of-type(3) a:focus > img { border:solid 3px var(--invertedElements);}
main section:nth-of-type(3) li:last-child a {font-size: 1.7em;display: flex;flex-direction: column;align-items: center;opacity:0.6;text-align: center;min-height: 12em;justify-content: center;}
main section:nth-of-type(3) li:last-child a::after{display: none;}
main section:nth-of-type(3) li:last-child svg {margin: 0;}

/* Section 4 */

main section:nth-of-type(4) {}
main section:nth-of-type(4) > ul {}
main section:nth-of-type(4) ul > li {}
main section:nth-of-type(4) ul > li:last-child {}
main section:nth-of-type(4) ul > li  ul {flex-direction: column;max-width: 100%;margin-right: 2em;}
main section:nth-of-type(4) ul > li li:first-child {margin: 0 0 2em 0;}
main section:nth-of-type(4) ul > li li:last-child {}
main section:nth-of-type(4) img {width: 70vw;}
main section:nth-of-type(4) a:focus figcaption {background-color: var(--invertedElements); color: var(--invertedTextFonts);}
main section:nth-of-type(4) p {}


/* Section 5 */

main section:nth-of-type(5) {}
main section:nth-of-type(5) ul {}
main section:nth-of-type(5) li {}
main section:nth-of-type(5) li:last-child {}
main section:nth-of-type(5) a {}
main section:nth-of-type(5) p {}
main section:nth-of-type(5) img {}

/* ------  Second Page --------- */

#pages main header {
    
    display: flex;
    align-items: baseline;
    flex-flow: column;
    height: auto;
   }

   #pages main header::after {display: none;}
#pages main header img { width: unset;}
#pages main header section {
    max-width: 700px;
}

#pages p {
    z-index: 1;
    
    margin: .5em 0;
   }
#pages main section:nth-of-type(1) { justify-content: center;display: flex;padding: 0 6vw;}
#pages section:nth-of-type(1) h2 { }
#pages section:nth-of-type(1) ul{ display: none;flex-flow: row wrap;justify-content: center;align-items: center;}
#pages section:nth-of-type(1) ul li{ }
#pages section:nth-of-type(1) li button{ color: var(--textFont);background: none;border: none;}
#pages section:nth-of-type(1) li button:focus { border: solid 1px var(--hoverColor); padding: 2px 8px;border-top: transparent; border-bottom: transparent;}
#pages section:nth-of-type(1) > article {flex-direction: column;}
#pages section:nth-of-type(1) > article h3 { background: white;color: var(--invertedTextFonts);font-size: 16px;width: fit-content;padding: 0 1em 0 .1em;margin: 0 0 .2em 0;}
#pages section:nth-of-type(1) > article h3:focus {border: solid 1px var(--hoverColor); padding: 5px; }

#pages section:nth-of-type(1) > article p { color: var(--textFont);}
#pages section:nth-of-type(1) > img {width: 100%;margin: 5em 0 1em 0;max-height: calc(40vw + 5vw);overflow: hidden;}

#pages section:nth-of-type(1) article:nth-of-type(1), #pages section:nth-of-type(1) img:nth-of-type(1) { display: flex;}


/* Footer */

footer {padding: 0 5vw;display: flex;flex-direction: column;justify-content: center;align-items: center;margin: 3em 0;}
footer img {order: 2;width: 115px;height: 20px;margin-top: 3em;}
footer nav {}
footer nav ul {}
footer nav li {}
footer nav a {}
footer > a {width: 100%;display: block;padding: 1.4em 0;border: 1px solid var(--invertedElements);text-align: center;opacity: 0.6;font-size: 1.1em;order: 1;letter-spacing: 1px;font-weight: 600;}
footer > small {order: 3;color: var(--textFont);font-size: 11px;margin-top: 1em;}

/* Keyframe animations */

@keyframes headerArrow {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}

/* Responsive */

@media only screen and (min-width: 700px ){

    /* Home header */
    main > header img {width: 100vw;}
    /* Home page -> New section */
    main section:nth-of-type(2) {align-items: center;} 
    main section:nth-of-type(2) ul {max-width: 798px;} 

     /* Section 4 */
    main section:nth-of-type(4) img {max-width: 520px;}
  
}



/* Desktop */
@media only screen and (min-width: 1024px ){

  /* Navigation */
  nav ul {flex-direction: row;}
  nav li a {font-size: 1.2em;-webkit-text-stroke: unset;padding: 0 2em;}
  nav li:last-child {display: flex;align-items: center;}
  nav li {padding: 0;}
  nav {display: flex; align-items: center; justify-content: center;}

  /*header*/
  main > header section {
    margin: 0;
    width: 90%;
    justify-content: center;
}
main > header h1 {
    margin: 1em 0 0.2em 0;
    text-decoration-thickness: 0.03em;
    font-size: 4em;
}
  body > header button { display: none;}

  /* Main */
  main section {padding: 0 12vw;}
  main section h2 {font-size: 3em;text-underline-offset: 0.4em;}
  main section ul {margin: 7.5em 0;}

  /*header*/
  main > header::after {width: 16px;height: 15px;}
  main > header img {z-index: -2;filter: blur(.15em);}
  main > header img::after {content: '';display: inline-block;position: absolute;background-color: black;top: 0;bottom: 0;right: 0;left: 0;}
  
  /* Recommended anime section */
  main > section:nth-of-type(1) ul { padding: 0 0 2em 0;}
  main > section:nth-of-type(1) img {width: calc(15vw + 5vw);}
  main > section:nth-of-type(1) li {margin: 0 2vw;}
    
  /* News section */
  main section:nth-of-type(2) a {align-items: baseline;}
  main section:nth-of-type(2) li:last-child {justify-content: flex-end;}
  main section:nth-of-type(2) li:last-child a {align-items: center;} 

  main section:nth-of-type(2) p:last-child {margin-top:0;}

    
   /* Section 4 */
  
   main section:nth-of-type(4) {/*! padding-right: 0; */}
   main section:nth-of-type(4) figure {position: relative;display: flex;}
   main section:nth-of-type(4) figcaption {position: absolute;
bottom: 0;
padding: 1em;
background: var(--pageBackground);
width: 100%;
text-align: center;
color: var(--textFont);
opacity: 0.9;}
   
    /* Favorites page */

    #pages main > header section {     margin: 7em 0;}
    #pages main > header h1{       margin: 4em 0 0.7em 0;}
 #pages main section:nth-of-type(1) { justify-content: center;display: flex;padding: 0 6vw;}
#pages section:nth-of-type(1) h2 { }
#pages main > section:nth-of-type(1) {flex-flow: row wrap;}
#pages section:nth-of-type(1) ul{ display: flex;flex-flow: row wrap;justify-content: center;align-items: center;}
#pages section:nth-of-type(1) ul li{ }
#pages section:nth-of-type(1) li button{ color: var(--textFont);background: none;border: none;}
#pages section:nth-of-type(1) > article {flex-direction: column;}
#pages section:nth-of-type(1) > article h3 { background: white;color: var(--invertedTextFonts);font-size: 16px;width: fit-content;padding: 0 1em 0 .1em;margin: 0 0 .2em 0;}
#pages section:nth-of-type(1) > article p { color: var(--textFont);}
#pages section:nth-of-type(1) > img {width: unset;margin: 5em 0 1em 0;max-height: calc(2vw + 5vw);overflow: hidden;}

#pages section:nth-of-type(1) article:nth-of-type(1), #pages section:nth-of-type(1) img:nth-of-type(1) { display: flex;}

  /* Footer */
  
  footer { align-items: baseline;}
  footer nav {padding: 0;order: 2;margin: 1.5em 0;}
  footer nav li, header nav li {border-left: solid 1px var(--textFont);border-right: solid 1px var(--textFont);}
    
  footer > a {max-width: 300px;order: 3;margin: 1.5em 0;}
  footer > a:hover {color: var(--hoverColor); opacity: 1;}
  footer > a:focus {border-color: var(--hoverColor);}
  
  footer img {height: auto;order: 1; width: 500px; max-width: 500px;margin: 1.5em 0;filter: var(--logoColor);}
  footer > small { margin: 4em 0;}
}

/* Big screens */
@media only screen and (min-width: 1320px ){
 
  main section:nth-of-type(3) li:nth-of-type(2)::before, 
      main section:nth-of-type(3) li:nth-of-type(4)::before, 
          main section:nth-of-type(3) li:nth-of-type(6)::after {
                  content: "+";
                  position: absolute;
                  right: -10px;
                  font-size: 35px;
                  z-index: 1;
                  color: var(--invertedElements);
                  line-height: 0;
              }
}
